---

import Phone from '@/icons/Phone.astro';
import Map from '@/icons/Map.astro';
import Whatsapp from '@/icons/Whatsapp.astro';
import Email from '@/icons/Email.astro';

import {
    telphoneReadble,
    telphoneLinkeable,
    address,
    mapUrl,
    email,
    whatsappLinkeable,
    whatsappReadble,
} from '@/hooks/env.js'
---
<div class="text-center sm:grid sm:grid-cols-2 my-8 md:grid-cols-4 sm:gap-4 md:gap-12">
    <div class="my-4 sm:my-0">
        <div class="flex justify-center items-center mx-auto mb-4 w-16 h-16 bg-primary-100 rounded-lg dark:bg-gray-800">
            <Whatsapp extraClass="w-8 h-8 text-primary-600" />
        </div>
        <p class="mb-2 text-xl text-primary-800 font-bold dark:text-white">WhatsApp</p>
        <a href={'https://wa.me/' + whatsappLinkeable} class="inline-flex py-2 px-4 text-sm font-medium text-center rounded-lg border text-primary-600 border-primary-600 hover:text-white hover:bg-primary-600 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:border-primary-500 dark:text-primary-500 dark:hover:text-white dark:hover:bg-primary-600 dark:focus:ring-primary-800">{whatsappReadble}</a>
    </div>
    <div class="my-4 sm:my-0">
        <div class="flex justify-center items-center mx-auto mb-4 w-16 h-16 bg-primary-100 rounded-lg dark:bg-gray-800">
            <Phone extraClass="w-8 h-8 text-primary-600" />
        </div>
        <p class="mb-2 text-xl text-primary-800 font-bold dark:text-white">Teléfono</p>
        <a href={'tel:' + telphoneLinkeable} class="inline-flex py-2 px-4 text-sm font-medium text-center rounded-lg border text-primary-600 border-primary-600 hover:text-white hover:bg-primary-600 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:border-primary-500 dark:text-primary-500 dark:hover:text-white dark:hover:bg-primary-600 dark:focus:ring-primary-800">{telphoneReadble}</a>
    </div>
    <div class="my-4 sm:my-0">
        <div class="flex justify-center items-center mx-auto mb-4 w-16 h-16 bg-primary-100 rounded-lg dark:bg-gray-800">
            <Email extraClass="w-8 h-8 text-primary-600" />
        </div>
        <p class="mb-2 text-xl text-primary-800 font-bold dark:text-white">E-mail</p>
        <a href={'mailto:' + email} class="inline-flex py-2 px-4 text-sm font-medium text-center rounded-lg border text-primary-600 border-primary-600 hover:text-white hover:bg-primary-600 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:border-primary-500 dark:text-primary-500 dark:hover:text-white dark:hover:bg-primary-600 dark:focus:ring-primary-800">{email}</a>
    </div>
    <div class="my-4 sm:my-0">
        <div class="flex justify-center items-center mx-auto mb-4 w-16 h-16 bg-primary-100 rounded-lg dark:bg-gray-800">
            <Map extraClass="w-8 h-8 text-primary-600" />
        </div>
        <p class="mb-2 text-xl text-primary-800 font-bold dark:text-white">Dirección</p>
        <a href={mapUrl} class="inline-flex py-2 px-4 text-sm font-medium text-center rounded-lg border text-primary-600 border-primary-600 hover:text-white hover:bg-primary-600 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:border-primary-500 dark:text-primary-500 dark:hover:text-white dark:hover:bg-primary-600 dark:focus:ring-primary-800">{address}</a>
    </div>
</div>