---
interface Props {
    title: string;
    subtitle: string;
    description: string;
    img: string;
    left: boolean;
    imgDark?: string;
}

const { title, subtitle, description, img, left, imgDark } = Astro.props;
const titleFriendly = title.toLowerCase().replace(/\s/g, "_");
---
{left && 
    <section id={titleFriendly} class="bg-white dark:bg-gray-800 max-w-max mx-3 sm:mr-auto rounded-xl p-3 shadow-lg lg:px-0 lg:py-4 my-5">
        <div
            class="gap-8 items-center py-4 px-4 mx-auto max-w-screen-lg xl:gap-16 md:grid md:grid-cols-2 lg:pr-6"
        >
            <div class="grid grid-cols-1 gap-4 justify-items-center">
                <img class="w-full max-w-72 dark:hidden"
                    src={img} 
                    alt={title} />
                <img class="w-full max-w-72 hidden dark:block"
                    src={imgDark} 
                    alt={title} />
            </div>
            <div class="mt-4 md:mt-0 text-center md:text-left">
                <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-primary-950 dark:text-white">{title}</h2>
                <p class="mb-4 font-semibold text-primary-900 dark:text-gray-400">{subtitle}</p>
                <p class="mb-6 font-light text-md text-primary-950 dark:text-gray-400">
                    {description}
                </p>
            </div>
        </div>
    </section>
}
{!left && 
    <section id={titleFriendly} class="bg-white dark:bg-gray-800 max-w-max mx-3 sm:ml-auto rounded-xl p-3 shadow-lg lg:px-0 lg:py-4 my-5">
        <div
            class="grid gap-8 items-center py-4 px-4 mx-auto max-w-screen-lg xl:gap-16 md:grid md:grid-cols-2 lg:pl-6"
        >
            <div class="mt-4 md:mt-0 text-center md:text-right">
                <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-primary-950 dark:text-white">{title}</h2>
                <p class="mb-4 font-semibold text-primary-900 dark:text-gray-400">{subtitle}</p>
                <p class="mb-6 font-light text-md text-primary-950 dark:text-gray-400">
                    {description}
                </p>
            </div>
            <div class="order-first md:order-last grid grid-cols-1 gap-4 justify-items-center">
                <img class="w-full max-w-72 dark:hidden"
                    src={img} 
                    alt={title} />
                <img class="w-full max-w-72 hidden dark:block"
                    src={imgDark} 
                    alt={title} />
            </div>
            
        </div>
    </section>
}