---

import Phone from '@/icons/Phone.astro';
import Map from '@/icons/Map.astro';
import Whatsapp from '@/icons/Whatsapp.astro';
import Email from '@/icons/Email.astro';

import {
    telphoneReadble,
    telphoneLinkeable,
    address,
    mapUrl,
    email,
    whatsappLinkeable,
    whatsappReadble,
} from '@/hooks/env.js'
---
<footer class="bg-white rounded-lg shadow dark:bg-gray-800 m-4 px-6 max-w-screen-xl w-full mx-auto">
    <div class="w-full mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="./" class="flex items-center mb-8 sm:mb-0 space-x-3 rtl:space-x-reverse max-sm:justify-center">
                <img src="images/logos/margon.png" class="h-16" alt="Margon Logo" />
            </a>
            <ul class="flex flex-wrap sm:justify-end justify-center items-center mb-6 text-sm font-medium text-primary-950 sm:mb-0 dark:text-gray-300">
                <li>
                    <a href={'tel:' + telphoneLinkeable} class="flex hover:font-semibold me-4 md:me-6"><Phone extraClass='text-primary-600 mr-2' />{telphoneReadble}</a> 
                </li>
                <li>
                    <a href={'https://wa.me/' + whatsappLinkeable} class="flex hover:font-semibold me-4 md:me-6"><Whatsapp extraClass='text-primary-600 mr-2' />{whatsappReadble}</a>
                </li>
                <li>
                    <a href={'mailto:' + email} class="flex hover:font-semibold me-4 md:me-6"><Email extraClass='text-primary-600 mr-2' />{email}</a>
                </li>
                <li>
                    
                </li>
            </ul>
        </div>
        <hr class="my-6 border-primary-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="flex max-sm:text-center items-center sm:justify-between max-sm:flex-col-reverse max-sm:justify-start mb-20">
            <span class="mt-6 sm:mt-0 block font-normal text-sm text-primary-950 sm:text-left dark:text-gray-300">Diseñado por <a href="https://manejoweb.com.ar/" class="dark:text-primary-400 text-primary-600 hover:font-bold">Manejo Web</a></span>
            <a href={mapUrl} class="flex hover:font-semibold text-sm font-medium text-primary-950 me-4 md:me-6 dark:text-gray-300"><Map extraClass='text-primary-600 mr-2' />{address}</a>
        </div>
    </div>
</footer>

