---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

interface Props {
	title: string;
	canonical: string;
	metaTitle: string;
	metaDescription: string;
	metaImg: string;
}

const { 
	title,
	canonical,
	metaTitle,
	metaDescription,
	metaImg,
} = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Favicons -->
		<link href="img/favicon.png" rel="icon">
		<link href="img/apple-touch-icon.png" rel="apple-touch-icon">
		<title>{title}</title>
		
		<!-- SEO -->
		<link rel="canonical" href={canonical} />
		<!-- GOOGLE -->
		<meta name="title" content={metaTitle} />
		<meta name="description" content={metaDescription}/>
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="Mon, 01 Jul 1970 00:00:00 GMT" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		 <!-- FACEBOOK OPEN GRAPH TAGS -->
		<meta property="og:title" content={metaTitle} />
		<meta property="og:description" content={metaDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonical} />
		<meta property="og:image" content={metaImg} />
		<!-- Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@" />
		<meta name="twitter:title" content={metaTitle} />
		<meta name="twitter:description" content={metaDescription} />
		<meta name="twitter:url" content={canonical} />
		<meta name="twitter:image" content={metaImg} />
		<!-- preconnect para Google Recaptcha -->
		<link rel="preconnect" href="https://www.google.com">
		<link rel="preconnect" href="https://www.gstatic.com" crossorigin>
	</head>
	<body class="bg-background dark:bg-gray-900 scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem] scrollbar-track-gray-200 scrollbar-thumb-gray-400 dark:scrollbar-track-gray-900 dark:scrollbar-thumb-gray-700">
		<Header />
			<main>
				<slot />
			</main>
		<Footer />
	</body>
</html>
<script>
		import {
    initDropdowns,
} from 'flowbite';

initDropdowns();
</script>
<!--  DARK MODE -->
<script is:inline>

	if (
		localStorage.getItem('color-theme') === 'dark' ||
		(!('color-theme' in localStorage) &&
			window.matchMedia('(prefers-color-scheme: dark)').matches)
	) {
		document.documentElement.classList.add('dark');
	} else {
		document.documentElement.classList.remove('dark');
	}
</script>
<style is:global>
.dark .svg-viejo-minero {
	fill: #ffffff;
}
.svg-viejo-minero {
	fill: #1d1d1b;
}
</style>
